*
{
	margin:0px;padding:0px;
}
body{background:#CCCCCC;}
.body
{
background: #FFF none repeat scroll 0% 0%;
height: 705px;
width: 1076px;
margin: 0px auto;width: 953px;
border:1px solid #4C9ED9;
}
.first
{
	
}
.header_part
{
	background:#4C9ED9;
}
.header_part2 
{
float: right;
margin-right: 175px;
margin-top: 75px;

}
.header_part2  h3
{
font-size:25px;
}
.header_part2 h1
{
font-size: 44px;
}
.img  
{
height: 186px;
width: 960px;
}
.img  img
{
height: 119px;
width: 153px;
margin-left: 40;
margin-top: 37;
}
.menu
{
	
}
.menu ul
{
	list-style: none;
	margin-left: 0px;
	padding:0px;
}
.menu ul li
{
	float: left;
	border-right: 1px solid #ddd;
}
.menu ul li a
{
display: block;
background: #EDEDED none repeat scroll 0% 0%;
color: #000;
padding: 6px 68px;
text-decoration: none;
overflow:hidden;
}
.menu ul li a:hover
{
	background-color:#fff;
}
.content
{
	margin-top: 75px;
}
.content h3
{
	margin-left:10px;
	}
.content p
{
margin-top: 65;
margin-left: 76;
margin-right: 42;
font-family: san-sarif;
font-size: 19;
}
.footer
{
background:#4C9ED9;
   margin-top: 188px;
height: 56px;
}
.footer p
{
font-family: san-sarif;
padding: 14px 328px;
font-size: 22px;
font-style: normal;
}
.fix
{
	overflow:hidden;
	display:block;
}
input[type="text"],input[type="password"],input[type="lname"],select,option
{border:1px solid #d5d5d5;margin-bottom:6px; margin-left: 1px; width:285px;padding:5px;}
input[type="submit"],input[type="reset"]
{
	background:#888 none repeat scroll 0 0;border: 1px solid #626262; border-radius:3px; color:#fff; cursor:pointer;font-size:15px; font-weight:bold;padding:2px 5px;
}
input[type="submit"]:hover,input[type="reset"]:hover
{
	background:#333;
}